@use '/src/styles/variables.scss' as vars;

.modal{
    background-color: vars.$dark-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 1;
}

.open{
    height: 100vh;
}

.close{

    height: 0;
}